form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;

  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  input, textarea {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: var(--color-primary-light);
  }
  h2 {
    text-align: center;
    color: var(--color-primary-dark);
    margin-bottom: 1rem;
  }

}